body {
    background-image: url("images/palmTreeLeaves.jpg");
    /* background-color: black; */
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: 200px;
  margin-right: 200px;
  font-family: 'Cinzel', serif;
  }

  #navbar {
      margin-bottom: 120px;
  }

  #MYD-heading {
      font-size: 60px;
      text-align: center;
      color: green;
  }

.drivers {
    display: inline-block;
    
}

#driver2 {

    float:right;
}


* {
    box-sizing: border-box;
  }
  
  /* Create three columns of equal width */
  .columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }
  
  /* Style the list */
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* Add shadows on hover */
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  /* Pricing header */
  .price .header {
    background-color: #111;   
    color: white;
    font-size: 25px;
  }
  
  /* List items */
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  /* Grey list item */
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  /* The "Sign Up" button */
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the width of the three columns to 100% 
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }
  @import url('https://fonts.googleapis.com/css?family=Lobster|Permanent+Marker&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Cinzel|Frank+Ruhl+Libre|Varela+Round|Volkhov&display=swap');
  .navbar-brand{
    font-family: 'Lobster', cursive;
    
  }

  .pricingDiv{
    background-color: #4CAF50;
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 500px;
    height: 450px; 
    text-align: center;
    margin-left: 25%;
    margin-bottom: 150px;
  }

  .TripsPricing{
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 60px;
    padding-bottom: 60px;
    border-bottom:5px solid black;

  }

.titlePrice{
  border-bottom:5px solid black;
  padding-bottom: 5px; 
}

.navbar {
  height: 100px;
  font-size: 25px;
  opacity: 0.9;
}

.navbar-brand {
  font-size: 35px;
  text-align: center;
}
  
/* contact us page */

#contactUsInfo{
  font-size: 35px;
  background-color: white;
}
/* home page */

.display-4 {
  text-align: center;
  font-size: 70px;
}

.jumbotron {
  opacity: 1.0;
  background: none;
  color: white;
  font-size: 30px;
}

#hopePageImg {
  display: block;
  align: center;
  margin-left: auto;
  margin-right: auto;
}

#modal-form {
        visibility: hidden;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 6;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
}