body {
    background-image: url("images/cocosBackground2.webp");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: 300px;
  margin-right: 300px;
  }

  #navbar {
      margin-bottom: 120px;
  }

  #MYD-heading {
      font-size: 60px;
      text-align: center;
      color: green;
  }